
.contact {
    width:100%;
    margin:auto;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color:     #DFD8CD  ;
    padding:2rem 0;
    h4 {
        font-size: 1.8rem;
        padding:2rem;
        letter-spacing: 2px;;
    }
}

.container-contact {
    display:flex;
   /*  background-color: #fff; */
    width:90%;
    margin:auto;
    align-items: center;
    
   

}

.container-contact__form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    padding:10px 20px;
    box-sizing: border-box;
    max-width:50%;
   
}
.container-contact__form > h4 {
    letter-spacing: 1px;
    padding:10px;
}

.container-contact__form > input,
.container-contact__form > textarea {
    padding:10px;
    margin:10px;
    width: 100%;
    font-size: 1rem;;
    border-radius: 5px;
    color:#000;

}

.container-contact__form > textarea {
    min-height:200px;
    max-height:200px;
    max-width: 100%;
    min-width:100px;
 
}


.container-contact__img {
    width:50%;
    max-width: 50%;
   

}

.container-contact__img > img {
    max-width: 100%;

    
}

#submit {
    width:100px;
    margin-left:auto;
}