.footer {
    width:100%;
    background-color: #000;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p{
        color:#fff;
    }
}