body {
    display:grid;
    grid-template-columns: 1;
    grid-template-rows: autogit auto auto auto auto;
    grid-template-areas: "nav"
                         "slider"
                         "aside"
                         "contact"
                         "footer";

}