@media /* (min-width: 768px) and */ (max-width: 1440px) {

    .section {
        height:525px;
                
        h1 {
            font-size: 2rem;;
        }
        h4 {
            font-size: 1.7rem;;
        }
    }

}

/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media /* (min-width: 768px) and */ (max-width: 1199px) {


    .nav {
   
        figure {
            width:93.75px;
            img {
                width:100%;
            }
                    
        }
        ul {
            li {
                width:27px;
                height:27px;

                a {
                    font-size:0.8rem;

                    img {
                        max-width: 100%;;
                    }
                }
            }
        }
    }


    .section {
        height:437px;
                
        h1 {
            font-size: 1.88rem;;
        }
        h4 {
            font-size: 1.56rem;;
        }
    }
    .aside {
       padding:2.5rem 0;      
        .aside__informacion {
            font-size:0.75rem;
            h2{
                font-size:1.13rem;
                letter-spacing:1.13px;
                border-bottom:1.88px;
                border-bottom:1.88px solid #CA9C59;
    
            }    
    
            p {
                padding-top:1.5rem;
                padding-bottom:.5rem;
                font-size: 0.8rem;
            }
        }
    }
    .aside__tarjetas {
        .tarjeta {
            width:100%;
            /* margin:1.88rem 0.8rem; */
            padding:1.25rem 3.25rem 1.25rem 3.25rem;
            h4{
                font-size:1.2rem;
                margin: .75rem auto;
            }
            p {
                padding:0.8rem;
                font-size:0.8rem;
            }
            a {
                font-size:0.8rem;
            }
            
        }
            

    }
    .aside__categorias {
        .categoria {
            width:97px;
            height:170px;
            margin:1.88rem 0.5rem;
            padding:1rem;
           
    
            h4{
                font-size:0.94rem;
            }
            li {
           
                font-size:0.8rem ;
            }

        }

    }
    .aside__proveedores { 
        .proveedor {
            padding-top:1.25rem;
            padding-left:3.13rem;
            padding-right:3.13rem;
            img {
                width:93.75px;
            }
        }
    }  
  
   
    .contact {
        h4{
            font-size:1.13rem;
            padding:0.75rem 0 1.25rem 0;
            letter-spacing:1.25px;
        }
        .container-contact_form {
            input {
                font-size:0.8rem;
                margin:6.25px;
                padding:6.25px;
            }
            textarea {
                font-size:0.8rem;
                margin:6.25px;
                padding:6.25px;
                min-height:125px;
                max-height:125px;
                min-width:62.50px;
            }
        }

        .container-contact__form > input,
        .container-contact__form > textarea {
            padding:10px;
            margin:10px;
            width: 70%;
            font-size: 1rem;;
            border-radius: 5px;
            color:#000;

        }
    }
    .footer {
        padding:0.63rem 0;
        text-align: center;
        p {
            font-size:0.8rem;
        }
    }

 }   

// Movil
 @media (max-width: 767px){
    .section {
        height:279px;
                
        h1 {
            font-size: 1rem;;
        }
        h4 {
            font-size: 1rem;;
        }
    }
    .aside__proveedores { 
        .proveedor {
            padding-top:1.25rem;
            padding-left:3.13rem;
            padding-right:3.13rem;
            img {
                width:73.75px;
            }
        }
    } 
 }


/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
/* @media (max-width: 767px) { 
    nav {
   
        figure {
            width:60px;
            img {
                width:40%;
            }
                    
        }
        ul {
            li {
                font-size:0.4rem;
                a {
                    font-size:0.4rem;
                }
            }
        }
    }

    .section {
        height:279px;
                
        h1 {
            font-size: 0.64rem;;
        }
        h4 {
            font-size: 1rem;;
        }
    }
    .aside {
       padding:1.6rem 0;      
        .aside__informacion {
            font-size:0.48rem;
            h2{
                font-size:0.72rem;
                letter-spacing:0.72px;
                border-bottom:1.2px;
                border-bottom:1.2px solid #CA9C59;
    
            }
            p {
                padding-top:0.4rem;
            }
        }
    }
    .aside__tarjetas {
        .tarjeta {
        
            width:100px;
            margin:1.2rem 0.4rem;
            padding:0.8rem;
            h4{
                font-size:0.6rem;
            }
            p {
                padding:0.4rem;
                margin:0.4rem;
                font-size:0.4rem;
            }
            a {
                font-size:0.4rem;
            }
            
        }
            

    }
    .aside__categorias {
        .categoria {
            width:61px;
            margin:1.2rem 0.4rem;
            padding:0.8rem;
           
    
            h4{
                font-size:0.6rem;
            }
            p {
                margin:0.4rem 0 0.8rem 0;
                font-size:0.4rem ;
            }
            a {
                font-size:0.4rem;
            }
        }

    }
    .aside__proveedores { 
        .proveedor {
            padding-top:0.8rem;
            padding-left:2rem;
            padding-right:2rem;
            img {
                width:60px;
            }
        }
    }  
  
   
    .contact {
        h4{
            font-size:0.72rem;
            padding:0.8rem;
            letter-spacing:0.8px;
        }
        .container-contact_form {
            input {
                font-size:0.4rem;
                margin:4px;
                padding:4px;
            }
            textarea {
                font-size:0.4rem;
                margin:4px;
                padding:4px;
                min-height:80px;
                max-height:80px;
                min-width:40px;
            }
        }
    }
    .footer {
        padding:0.4rem 0;
        p {
            font-size:0.4rem;
        }
    }

} */

 
/* Móviles en vertical
   ------------------------------------------------------------------------- */
/* @media (max-width: 480px) { 

    nav {
   
        figure {
            width:38.40px;
            img {
                width:25%;
            }
                    
        }
        ul {
            li {
                font-size:0.25rem;
                a {
                    font-size:0.25rem;
                }
            }
        }
    }

    .section {
        height:174px;
                
        h1 {
            font-size: 0.4rem;;
        }
        h4 {
            font-size: 0.63rem;;
        }
    }
    .aside {
       padding:1rem 0;      
        .aside__informacion {
            font-size:0.3rem;
            h2{
                font-size:0.45rem;
                letter-spacing:0.45px;
                border-bottom:0.75px;
                border-bottom:0.75px solid #CA9C59;
    
            }
            p {
                padding-top:0.25rem;
            }
        }
    }
    .aside__tarjetas {
        .tarjeta {
        
            width:62.5px;
            margin:0.75rem 0.25rem;
            padding:0.5rem;
            h4{
                font-size:0.38rem;
            }
            p {
                padding:0.25rem;
                margin:0.25rem;
                font-size:0.25rem;
            }
            a {
                font-size:0.25rem;
            }
            
        }
            

    }
    .aside__categorias {
        .categoria {
            width:38px;
            margin:0.75rem 0.25rem;
            padding:0.5rem;
           
    
            h4{
                font-size:0.38rem;
            }
            p {
                margin:0.25rem 0 0.5rem 0;
                font-size:0.25rem ;
            }
            a {
                font-size:0.25rem;
            }
        }

    }
    .aside__proveedores { 
        .proveedor {
            padding-top:0.5rem;
            padding-left:1.25rem;
            padding-right:1.25rem;
            img {
                width:38px;
            }
        }
    }  
  
   
    .contact {.footer {
        p {
            font-size:0.8rem;
        }
    }
        h4{
            font-size:0.45rem;
            padding:0.5rem;
            letter-spacing:0.5px;
        
        }
        .container-contact_form {
            input {
                font-size:0.25rem;
                margin:2.5px;
                padding:2.5px;
            }
            textarea {
                font-size:0.25rem;
                margin:2.5px;
                padding:2.5px;
                max-height:50px;
                min-height:50px;
                min-width:25px;
            }
        }
    }
    .footer {
        padding:0.25rem 0;
        p {
            font-size:0.25rem;
        }
    }

 } */